@page
@model Salto.Pages.Prices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="text-center menugroup mx-0 mb-3">
    <div class="row">
        <div class="col-3 col-md-2 d-flex center">
            <a href="javascript:void(0);" onclick="goBack()"><span class=""><i class="fas fa-arrow-circle-left fa-3x aturq my-auto"></i></span></a>
        </div>
        <div class="col-6 col-md-8">
            <h1 class="swe">DETALJER</h1>
            <h1 class="eng">DETAILS</h1>
        </div>
        <div class="col-3 col-md-2 d-flex center">
        </div>
    </div>
</div>

<div>

    <div class="row">
        <div class="col-6 mx-auto">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.PricesNameSWE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.PricesNameSWE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.PricesNameENG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.PricesNameENG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.PointsSWE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.PointsSWE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.PointsENG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.PointsENG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.QuitRuleSWE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.QuitRuleSWE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.QuitRuleENG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.QuitRuleENG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.DescriptionTitleSWE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.DescriptionTitleSWE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.DescriptionTitleENG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.DescriptionTitleENG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.DescriptionsSWE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.DescriptionsSWE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.DescriptionsENG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.DescriptionsENG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.ButtonBuyNow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.ButtonBuyNow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.ButtonTestForFree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.ButtonTestForFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prices.ButtonContactUs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prices.ButtonContactUs)
        </dd>
    </dl>
</div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Prices?.PricesID" class="btn btn-lg btn-dark btn-block mx-auto mb-2 swe" style="max-width:150px;">Redigera</a>
        <a asp-page="./Edit" asp-route-id="@Model.Prices?.PricesID" class="btn btn-lg btn-dark btn-block mx-auto mb-2 eng" style="max-width:150px;">Edit</a>
        <a asp-page="./Index" class="btn btn-lg btn-dark mx-auto mb-2 text-light swe" style="max-width:150px; background-color:#394360;">Tillbaka</a>
        <a asp-page="./Index" class="btn btn-lg btn-dark mx-auto mb-2 eng" style="max-width:150px;">Back</a>
    </div>
