@page
@model Salto.Pages.Tags.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center menugroup mx-0 mb-3">
    <div class="row">
        <div class="col-3 col-md-2 d-flex center">
            <a href="javascript:void(0);" onclick="goBack()"><span class=""><i class="fas fa-arrow-circle-left fa-3x aturq my-auto"></i></span></a>
        </div>
        <div class="col-6 col-md-8">
            <h1 class="swe">Ta bort</h1>
            <h1 class="eng">Delete</h1>
            <h4 class="swe">Är du säker på att du vill ta bort?</h4>
            <h4 class="eng">Are you sure you want to Delete?</h4>
        </div>
        <div class="col-3 col-md-2 d-flex center">
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag.TagNameSWE)
        </dt>
        <dd class="col-sm-10 pl-2">
            @Html.DisplayFor(model => model.Tag.TagNameSWE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag.TagNameENG)
        </dt>
        <dd class="col-sm-10 pl-2">
            @Html.DisplayFor(model => model.Tag.TagNameENG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tag.Archived)
        </dt>
            <dd class="col-sm-10 pl-2">
            @Html.DisplayFor(model => model.Tag.Archived)
        </dd>
    </dl>
    <hr />
        <form method="post">
            <input type="hidden" asp-for="Tag.TagID" />
            <input type="submit" value="Delete" class="btn btn-dark" />
        </form>

    
</div>
</div>
